

<div class="px-4 py-2 my-5 text-center">

    <h1 class="display-6 fw-bold">Contact Us</h1>
    <div class="col-12 mt-3" style="white-space: pre-line;">
        <p class="lead">Need to get in touch with us? click out the contact us with your inquiry.</p>  
        <a href="mailto:blackoutmayuresh2912@gmail.com?cc=blackoutmayuresh2912@gmail.com&subject=Reg : User Query" class="btn btn-success mt-1">Contact Us</a>
    </div>
    <img src="/img/contactus.jpg" class="d-block mx-auto mt-5 mb-4 img-fluid" alt="contactus" width="900" height="650" Loading="lazy"/>
</div>


